/*
magenta: FA056F
amethyst: 490E61
green: 32FA05
seafoam: 05EAFA
orange: FA1505
*/

* {
    box-sizing: border-box;
    letter-spacing: 0.03em;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    color: white;
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #490e61;
}
#root {
    height: 100%;
    width: 100%;
}
.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    transform: skewX(-7deg) rotate(-7deg);
    color: rgb(255, 0, 196);
}
.main-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.overlay-bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.deckbuilder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}
.deckbuilder .library {
    width: 40%;
}
.deckbuilder .deck {
    width: 40%;
}
.deckbuilder .go-button {
    width: 20%;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
}
.card {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    background-color: gray;
}
.card .card-top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card .card-mid-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.card.common {
    border: 10px solid white;
}
.card.uncommon {
    border: 10px solid green;
}
.card.rare {
    border: 10px solid blue;
}
.card.epic {
    border: 10px solid purple;
}
.card.legendary {
    border: 10px solid orange;
}
.card-rarity.common {
    color: white;
}
.card-rarity.uncommon {
    color: green;
}
.card-rarity.rare {
    color: blue;
}
.card-rarity.epic {
    color: purple;
}
.card-rarity.legendary {
    color: orange;
}
.card-type.chillout {
    color: #05EAFA;
    /* really light blue? */
}
.card-type.funky {
    color: #FA056F;
    /* pinkish? */
}
.card-type.pump {
    color: yellow;
}
button {
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    font-family: 'Righteous', cursive;
    border: 2px solid rgb(255, 0, 196);
    ;
    color: rgb(255, 0, 196);
    background-color: black
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.record-store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.record-store> * {
    max-width: 50%;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.player-cards-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.encounter {
    max-width: 400px;
}
