/*
magenta: FA056F
amethyst: 490E61
green: 32FA05
seafoam: 05EAFA
orange: FA1505
*/

* {
    box-sizing: border-box;
    letter-spacing: 0.03em;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    color: white;
    background-image: url("/img/background.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #490e61;
}
#root {
    height: 100%;
    width: 100%;
}
.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    transform: skewX(-7deg) rotate(-7deg);
    color: rgb(255, 0, 196);
}
.main-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.overlay-bg {
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.deckbuilder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}
.deckbuilder .library {
    width: 40%;
}
.deckbuilder .deck {
    width: 40%;
}
.deckbuilder .go-button {
    width: 20%;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
}
.card {
    cursor: pointer;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ;
    align-items: center;
    width: 250px;
    /*height: 250px;*/
    background-color: black;
    border-width: 5px;
    border-style: solid;
}
.card .card-bottom-bar {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card .card-mid-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.card.common {
    border-color: white;
}
.card.uncommon {
    border-color: green;
}
.card.rare {
    border-color: blue;
}
.card.epic {
    border-color: purple;
}
.card.legendary {
    border-color: orange;
}
.card-rarity.common {
    color: white;
}
.card-rarity.uncommon {
    color: green;
}
.card-rarity.rare {
    color: blue;
}
.card-rarity.epic {
    color: purple;
}
.card-rarity.legendary {
    color: orange;
}
.chillout {
    color: #05EAFA;
    /* really light blue? */
}
.funky {
    color: #FA056F;
    /* pinkish? */
}
.pump {
    color: yellow;
}

.button-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button-menu> button, .button-menu> a, .kwav-button {
    cursor: pointer;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    font-family: 'Righteous', cursive;
    border: 2px solid rgb(255, 0, 196);
    color: rgb(255, 0, 196);
    background-color: black;
    text-decoration: none;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.record-store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.record-store> * {
    max-width: 50%;
}
.game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.player-cards-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.encounter {
    max-width: 400px;
    text-align: center;
}

.kwav-section {
    text-align: center;
    padding: 1em;
}
a, a:visited {
    color: rgb(255, 0, 196);
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 0, 196);
}
